{% extends "public_sites/base.html" %}

{% block head %}
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="{{ show.subtitle }}" />
{% endblock %}

{% block content %}
<div class="home">
  <ul class="post-list">
    {% for episode in episodes %}
    <li>
      <span class="post-meta">{{ episode.create_datetime.strftime('%b %d, %Y') }}</span>
      <h2>
        <a class="post-link" href={{ "/%s/%s"|format(show.alias, episode.alias) }}>
          {{ episode.title }}
        </a>
      </h2>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
